# Java
**/target/
*.class
*.log
*.jar
*.war
*.ear

# IntelliJ IDEA
*.iml
**/.idea/
out/

# OS generated
.DS_Store
Thumbs.db
ehthumbs.db
Icon?

# Logs
**/logs/

# Sensitive config
**/db.properties

# Maven
.mvn/
mvnw
mvnw.cmd

# Others
*.swp
*.tmp
*.bak
*.orig
*.rej
*.user
*.suo
*.ipr
*.iws
