/* Error Label */
.error-label {
    -fx-font-family: "Poppins Medium";
    -fx-text-fill: #d32f2f;
    -fx-background-color: #ffebee;
    -fx-padding: 10;
    -fx-background-radius: 5;
    -fx-font-size: 13px;
}

.register-text {
    -fx-font-family: "Poppins Medium";
    -fx-fill: -text-color;
    -fx-font-size: 13px;
}
